ALPACA_ENV=paper
ALPACA_BASE_URL=https://paper-api.alpaca.markets
ALPACA_API_KEY=PASTE_YOUR_ALPACA_PAPER_KEY_HERE
ALPACA_SECRET_KEY=PASTE_YOUR_ALPACA_PAPER_SECRET_HERE

PERPLEXITY_API_KEY=PASTE_YOUR_PERPLEXITY_KEY_HERE

TELEGRAM_BOT_TOKEN=PASTE_YOUR_TELEGRAM_BOT_TOKEN_HERE
TELEGRAM_CHAT_ID=PASTE_YOUR_TELEGRAM_CHAT_ID_HERE

AUTO_GIT_PUSH=true
LIVE_TRADING_ENABLED=false
MANAGED_CAPITAL_USD=10000
